.navbar.navbar-expand-lg.navbar-light{
    background-color: #007bff;
    color: #fff;
    padding-left: 1rem;
}
.navbar.navbar-expand-lg.navbar-light a{
    color: #fff;
}
.navbar.navbar-expand-lg.navbar-light button{
    color: #fff;
    font-size: 1.6rem;
    border: 2px solid #fff;
    box-shadow: none;
}